@model NurseryApplication1.Models.CategoryDto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<nav>
    <a class="navlink" style="color:green" ; href="/Category/Edit/@Model.CategoryId">Update </a>
    <a class="dellink" style="color:red;" href="/Category/DeleteConfirm/@Model.CategoryId">Delete</a>
</nav>

<a href="/Category/List">Go back to list</a>
<h2>@Model.CategoryName</h2>
