@model NurseryApplication1.Models.CategoryDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<a class="navlink" style="border: 1px solid black; padding: 10px;  margin:10px;"  ; href="/Category/List">Go Back To List </a>

<form action="/Category/Update/@Model.CategoryId" method="POST" style="margin-top:30px;">

    <div>
        <label>Category Name:</label> <input type="text" name="CategoryName" value="@Model.CategoryName" />
    </div>
   

    <div>
        <input type="submit" value="Update Category" />

    </div>
</form>