
@{
    ViewBag.Title = "Create";
}

<h2>New</h2>

<a class="navlink" style="border: 1px solid black; padding: 10px; color: green; " ; href="/Category/List">Go Back To List </a>

<form action="/Category/Create" method="POST" style="margin-top:30px;">

    <div>
        <label>Last Name:</label> <input type="text" name="CategoryName" />
    </div>
 
    <div>
        <input type="submit" value="Add Category" />

    </div>
</form>