@model IEnumerable<NurseryApplication1.Models.TreeDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<nav class="navlink">
    <a style="border: 1px solid black; padding: 10px;" href="/Tree/New">New Tree</a>
</nav>
    @foreach (var tree in Model)
    {
        <h2><a href="/Tree/Details/@tree.TreeId">@tree.TreeName</a></h2>
        <div>Height: @tree.TreeHeight Inches</div>
        <div>Category: @tree.CategoryName</div>


    }
